:root {
    --primary-color: #222;
    --secondary-color: #008080;
    --big-font: clamp(2rem, 10vw, 2.8rem);
    --medium-font: clamp(1.7rem, 6vw, 2.4rem);
    --small-font: clamp(1.5rem, 4.5vw, 1.8rem);
    --extra-small-font: clamp(1.4rem, 3vw, 1.6rem);
    --h5-small-font: clamp(1.2rem, 2vw, 1.4rem);
    --padding_small: 1rem;
    --padding_medium: 2rem;
    --padding_big: 2rem;
    --padding_extra_big: 3rem;
    --box_shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}


/* _________________ C O M M O N S __________________ */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    font-size: var(--extra-small-font);
    line-height: 1.8;
}

h1 {
    font-size: var(--big-font);
    font-weight: 700;
}

h2 {
    font-size: var(--medium-font);
    font-weight: 400;
}

h3 {
    font-size: var(--small-font);
    text-transform: uppercase;
    font-weight: 400;
}

h4 {
    font-size: var(--extra-small-font);
    font-weight: 300;
    text-transform: capitalize;
}

h5 {
    font-size: var(--h5-small-font);
    font-weight: 300;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}


/* _________________*/

.logo__img {
    width: 350px;
    height: auto;
    padding: 2rem;
}

.pokemon__name--button {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    background-color: rgb(194, 48, 48);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    /* text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35); */
    text-align: center;
    transition: all 0.2s;
}

.pokemon__name--button:hover {
    border-color: rgb(30, 66, 167);
    background-color: rgb(223, 184, 12);
    color: rgb(37, 39, 201);
    font-weight: 700;
}

.loading_gif {
    max-width: 20rem;
}

#pokeball__img {
    padding: 1rem;
}

.pokemon__name--button:hover+#pokeball__img {
    animation: vibrate-1 0.3s cubic-bezier(0.550, 0.055, 0.675, 0.190) infinite both;
}

.pokemon__name--button:active+#pokeball__img {
    animation: none;
}

.pokemon__name--button:active {
    opacity: 0.8;
}

#loading__message {
    padding: 6rem 0;
    display: block;
    margin: 0 auto;
    text-align: center;
}


/* ----------------------------------------------
 * Generated by Animista on 2022-3-11 11:45:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */

@keyframes vibrate-1 {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(-2px, -2px);
    }
    60% {
        transform: translate(2px, 2px);
    }
    80% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(0);
    }
}